# AAPL

In [92]:
import pandas as pd
AAPL_df=pd.read_csv('/content/AAPL_modeling_data.csv')

In [93]:
AAPL_df.head()

   Unnamed: 0        Date  ...  SameDay_Percentage  PreviousDay_Percentage
0           0  2021-04-07  ...                   1                      -1
1           1  2021-04-08  ...                   1                       1
2           2  2021-04-09  ...                   1                       1
3           3  2021-04-10  ...                  -1                       1
4           4  2021-04-11  ...                  -1                      -1

[5 rows x 11 columns]

In [94]:
AAPL_df.shape

(172, 11)

In [95]:
AAPL_df["day"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).day)
AAPL_df["month"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).month)
AAPL_df["year"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).year)

In [96]:
AAPL_df.head()

   Unnamed: 0        Date  Close/Last  ...  day  month  year
0           0  2021-04-07     127.900  ...    7      4  2021
1           1  2021-04-08     130.360  ...    8      4  2021
2           2  2021-04-09     132.995  ...    9      4  2021
3           3  2021-04-10     131.635  ...   10      4  2021
4           4  2021-04-11     131.635  ...   11      4  2021

[5 rows x 14 columns]

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
AAPL_X_classification=AAPL_df[['day','Open']]
AAPL_X_regression=AAPL_df.drop(["Open","Close/Last","SameDay_Binary","PreviousDay_Binary","SameDay_Percentage","PreviousDay_Percentage","year","Date"],axis =1 )
AAPL_Y_Binary_sameDay = AAPL_df["SameDay_Binary"]
AAPL_Y_Binary_previousDay = AAPL_df["PreviousDay_Binary"]
AAPL_Y_Percentage_sameDay = AAPL_df["SameDay_Percentage"]
AAPL_Y_Percentage_previousDay = AAPL_df["PreviousDay_Percentage"]

In [99]:
#PCA

In [100]:
from sklearn.preprocessing import MinMaxScaler

In [101]:
from sklearn.preprocessing import StandardScaler

In [102]:
scaler=StandardScaler()
scaler.fit(AAPL_X_regression)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [103]:
scaled_data=scaler.transform(AAPL_X_regression)

In [104]:
scaled_data

array([[-1.72200985, -0.02726264, -1.18402603, -1.2299008 , -1.03465642,
        -1.53779293],
       [-1.70186938,  0.26435673, -0.89454218, -0.82849029, -0.91742262,
        -1.53779293],
       [-1.68172892,  1.23185963, -0.58396233, -0.7156678 , -0.80018882,
        -1.53779293],
       ...,
       [ 1.68172892, -1.0374109 ,  1.06152484,  1.2046896 ,  0.84108433,
         1.51648402],
       [ 1.70186938, -1.65343239,  1.10724453,  1.19518876,  0.95831813,
         1.51648402],
       [ 1.72200985,  0.29021105, -0.48024039, -0.51704085,  1.07555193,
         1.51648402]])

In [105]:
from sklearn.decomposition import PCA

In [106]:
pca=PCA(n_components=2)

In [107]:
pca.fit(scaled_data)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [108]:
x_pca=pca.transform(scaled_data)

In [109]:
scaled_data.shape

(172, 6)

In [110]:
x_pca.shape

(172, 2)

In [111]:
scaled_data

array([[-1.72200985, -0.02726264, -1.18402603, -1.2299008 , -1.03465642,
        -1.53779293],
       [-1.70186938,  0.26435673, -0.89454218, -0.82849029, -0.91742262,
        -1.53779293],
       [-1.68172892,  1.23185963, -0.58396233, -0.7156678 , -0.80018882,
        -1.53779293],
       ...,
       [ 1.68172892, -1.0374109 ,  1.06152484,  1.2046896 ,  0.84108433,
         1.51648402],
       [ 1.70186938, -1.65343239,  1.10724453,  1.19518876,  0.95831813,
         1.51648402],
       [ 1.72200985,  0.29021105, -0.48024039, -0.51704085,  1.07555193,
         1.51648402]])

In [112]:
x_pca

array([[-2.81104286, -0.96268229],
       [-2.4884889 , -0.71051456],
       [-2.37025037, -0.37976668],
       [-2.11170257, -0.38657237],
       [-2.10248286, -0.27613275],
       [-2.19812177, -0.17226091],
       [-2.00569223, -0.01332124],
       [-1.96996509,  0.06175389],
       [-1.85528449,  0.22215289],
       [-1.86142312,  0.28142306],
       [-2.04716458,  0.38650498],
       [-2.03794487,  0.4969446 ],
       [-1.83678177,  0.71165852],
       [-1.91778818,  0.80442103],
       [-1.89468075,  0.64192839],
       [-1.94508263,  0.903371  ],
       [-1.80194339,  0.98862579],
       [-1.98262659,  1.15958233],
       [-1.97340688,  1.27002195],
       [-1.6274607 ,  1.23298615],
       [-1.56024113,  1.34961407],
       [-1.87215954,  1.81671845],
       [-2.0274461 ,  2.34467902],
       [-2.06985186,  2.00129903],
       [-1.59102155, -1.51647709],
       [-1.58180184, -1.40603746],
       [-1.44273834, -1.41138611],
       [-2.24258339, -0.85589491],
       [-1.91401482, -1.22926873],
       [-1.96187858, -1.1966537 ],
       [-1.730814  , -1.01747202],
       [-1.52648357, -0.74339973],
       [-1.51726385, -0.63296011],
       [-2.01272843, -0.67302493],
       [-2.64963522, -0.33320166],
       [-2.68662143, -0.38447861],
       [-2.43458604, -0.27541354],
       [-2.09373967, -0.32913759],
       [-1.46194558,  0.02967762],
       [-1.45272587,  0.14011724],
       [-2.1178521 , -0.09496455],
       [-2.06695317, -0.08737847],
       [-2.45869406,  0.22496207],
       [-2.06394252,  0.27316368],
       [-2.04578018,  0.41205166],
       [-1.39740759,  0.80275497],
       [-1.38818788,  0.91319459],
       [-1.88622482,  0.60655777],
       [-1.88310183,  0.81008112],
       [-1.83430658,  0.76662807],
       [-2.10631379,  1.20593722],
       [-2.10296655,  1.06621224],
       [-1.3328696 ,  1.57583232],
       [-1.32364989,  1.68627195],
       [-1.31443018,  1.79671157],
       [-1.77961916, -2.10242286],
       [-1.72274617, -2.06798074],
       [-1.8871209 , -1.82428486],
       [-1.75298497, -1.69077025],
       [-0.9404456 , -1.21129128],
       [-0.93122589, -1.10085166],
       [-1.63446822, -1.37897271],
       [-1.4381175 , -1.18161982],
       [-1.35218608, -1.23720275],
       [-1.43308796, -0.99857107],
       [-1.35757516, -1.05838387],
       [-0.87590761, -0.43821393],
       [-0.8666879 , -0.32777431],
       [-1.33880406, -0.26713793],
       [-0.99440499, -0.4300065 ],
       [-1.18866161, -0.06522748],
       [-1.04031825,  0.13546806],
       [-1.12627139,  0.34895142],
       [-0.81136962,  0.33486342],
       [-0.80214991,  0.44530304],
       [-0.94061457,  0.41324702],
       [-0.66372078,  0.54412262],
       [-0.46232127,  0.55111431],
       [-0.50057031,  0.73933144],
       [-0.55390231,  0.85438532],
       [-0.74683164,  1.10794077],
       [-0.73761192,  1.2183804 ],
       [-0.36606542,  1.13762273],
       [-0.23906692,  1.30621242],
       [-0.07892315,  1.44353421],
       [ 0.30748561, -1.99601335],
       [ 0.43915912, -1.57070206],
       [-0.3552266 , -1.56811864],
       [-0.34600688, -1.45767902],
       [-0.33678717, -1.3472394 ],
       [ 0.63077243, -0.77570632],
       [ 0.91324474, -0.62628377],
       [ 0.75223937, -0.55431105],
       [ 1.00401882, -0.43859466],
       [-0.29068861, -0.79504129],
       [-0.2814689 , -0.68460167],
       [ 1.28467642, -0.28960339],
       [ 1.19882958,  0.05657903],
       [ 1.42153111,  0.50243382],
       [ 1.53591505,  0.42716191],
       [ 1.53669395,  0.39175869],
       [-0.22615062, -0.02196394],
       [-0.21693091,  0.08847569],
       [ 0.82354294,  0.82020586],
       [ 1.22818628,  0.77272254],
       [ 1.40133066,  0.69909955],
       [ 1.5872877 ,  0.88306495],
       [ 1.72616953,  0.96578083],
       [-0.16161263,  0.75111342],
       [-0.15239292,  0.86155304],
       [ 1.85914955,  1.33642674],
       [ 1.52076033,  1.69745847],
       [ 1.14108046,  1.85263148],
       [ 1.60063221,  1.42266639],
       [ 1.491054  ,  1.64697867],
       [-0.09707464,  1.52419077],
       [ 0.24003108, -1.92557057],
       [ 1.99320004, -1.6227229 ],
       [ 2.0511669 , -1.47802266],
       [ 2.15856561, -1.43121627],
       [ 2.22089537, -1.41217754],
       [ 2.1116828 , -1.25192901],
       [ 0.29534936, -1.26293284],
       [ 0.30456907, -1.15249322],
       [ 2.13864399, -0.97643743],
       [ 2.07921397, -0.67014409],
       [ 2.16120159, -0.75884426],
       [ 2.18057592, -0.37567419],
       [ 2.43857964, -0.35196832],
       [ 0.35988734, -0.48985549],
       [ 0.36910706, -0.37941586],
       [ 2.20993669,  0.38143272],
       [ 2.46726512,  0.43756746],
       [ 2.28009067,  0.4331686 ],
       [ 2.02967049,  0.479081  ],
       [ 2.35323276,  0.3931985 ],
       [ 0.42442533,  0.28322187],
       [ 0.43364505,  0.39366149],
       [ 2.54736959,  0.76570504],
       [ 2.73575806,  0.80200661],
       [ 2.57453386,  0.97697946],
       [ 2.55585391,  0.96880798],
       [ 2.46228612,  1.12806434],
       [ 0.48896332,  1.05629922],
       [ 0.49818303,  1.16673884],
       [ 2.67129467,  1.88411298],
       [ 2.82466724,  1.98371307],
       [ 3.38576427, -1.46966601],
       [ 3.43540548, -1.44558578],
       [ 3.55592683, -1.44676655],
       [ 0.88138732, -1.73082439],
       [ 0.89060704, -1.62038477],
       [ 0.89982675, -1.50994514],
       [ 3.68401497, -0.71997021],
       [ 3.70055137, -0.69091033],
       [ 3.75150578, -0.75155621],
       [ 2.93771834,  0.0262885 ],
       [ 0.94592531, -0.95774704],
       [ 0.95514502, -0.84730741],
       [ 2.95094226, -0.05792255],
       [ 2.79162928,  0.08089525],
       [ 2.82196856, -0.08004431],
       [ 2.94095055, -0.10262575],
       [ 2.50320455,  0.54417407],
       [ 1.0104633 , -0.18466968],
       [ 1.01968301, -0.07423006],
       [ 2.06966224,  0.68255941],
       [ 2.4253362 ,  0.37980427],
       [ 2.59231658,  0.53977462],
       [ 2.82003401,  0.58588237],
       [ 2.91184142,  0.59836782],
       [ 1.07500129,  0.58840767]])

In [113]:
#logistic regression

In [114]:
AAPL_X_regression_sameday_train, AAPL_X_regression_sameday_test, AAPL_Y_Percentage_sameDay_train, AAPL_Y_Percentage_sameDay_test = train_test_split(x_pca, AAPL_Y_Percentage_sameDay, test_size=0.30, random_state=2)

In [115]:
#AAPL_X_regression_previousday_train, AAPL_X_regression_previousday_test, AAPL_Y_Percentage_previousDay_train, AAPL_Y_Percentage_previousDay_test = train_test_split(x_pca, AAPL_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [116]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(AAPL_X_regression_sameday_train,  AAPL_Y_Percentage_sameDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [117]:
y_pred= classifier.predict(AAPL_X_regression_sameday_test)

In [118]:
y_pred

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  0, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1])

In [137]:
# Confusion matrix  and accuracy report of same day

In [129]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(AAPL_Y_Percentage_sameDay_test,y_pred)  
cm

array([[28,  0,  0],
       [ 6,  2,  0],
       [16,  0,  0]])

In [128]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AAPL_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For Same day: \n",matrix)

Classification Report For Same day:
               precision    recall  f1-score   support

          -1       0.56      1.00      0.72        28
           0       1.00      0.25      0.40         8
           1       0.00      0.00      0.00        16

    accuracy                           0.58        52
   macro avg       0.52      0.42      0.37        52
weighted avg       0.46      0.58      0.45        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [125]:
cm

array([[28,  0,  0],
       [ 6,  2,  0],
       [16,  0,  0]])

In [135]:
#previousday

In [133]:
AAPL_X_regression_previousday_train, AAPL_X_regression_previousday_test, AAPL_Y_Percentage_previousDay_train, AAPL_Y_Percentage_previousDay_test = train_test_split(x_pca, AAPL_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [141]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(AAPL_X_regression_previousday_train,  AAPL_Y_Percentage_previousDay_train)  
y_pred= classifier.predict(AAPL_X_regression_sameday_test)
y_pred

array([-1, -1, -1, -1,  1, -1, -1,  1, -1, -1,  1, -1, -1, -1, -1,  1, -1,
       -1, -1,  1,  1,  1, -1, -1, -1,  1, -1, -1,  1, -1,  1, -1, -1,  1,
        1, -1,  1, -1,  1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1, -1,  1,
       -1])

In [142]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(AAPL_Y_Percentage_previousDay_test,y_pred)  
cm

array([[17,  0,  7],
       [ 7,  0,  4],
       [ 9,  0,  8]])

In [148]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AAPL_Y_Percentage_previousDay_test,y_pred)
print("Classification Report For Previous day: \n",matrix)

Classification Report For Previous day:
               precision    recall  f1-score   support

          -1       0.52      0.71      0.60        24
           0       0.00      0.00      0.00        11
           1       0.42      0.47      0.44        17

    accuracy                           0.48        52
   macro avg       0.31      0.39      0.35        52
weighted avg       0.38      0.48      0.42        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# AMZN

In [131]:
AMZN_df=pd.read_csv('/content/AMZN_modeling_data.csv')

In [132]:
AMZN_df.head()

   Unnamed: 0        Date  ...  SameDay_Percentage  PreviousDay_Percentage
0           0  2021-04-07  ...                   1                      -1
1           1  2021-04-08  ...                   0                       1
2           2  2021-04-09  ...                   1                       1
3           3  2021-04-10  ...                  -1                       1
4           4  2021-04-11  ...                  -1                      -1

[5 rows x 11 columns]

In [144]:
AMZN_df.shape

(172, 11)

In [145]:
AMZN_df["day"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).day)
AMZN_df["month"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).month)
AMZN_df["year"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).year)

In [146]:
AMZN_df.head()

   Unnamed: 0        Date  Close/Last  ...  day  month  year
0           0  2021-04-07    3279.390  ...    7      4  2021
1           1  2021-04-08    3299.300  ...    8      4  2021
2           2  2021-04-09    3372.200  ...    9      4  2021
3           3  2021-04-10    3356.195  ...   10      4  2021
4           4  2021-04-11    3356.195  ...   11      4  2021

[5 rows x 14 columns]

In [147]:
from sklearn.model_selection import train_test_split

In [149]:
AMZN_X_classification=AMZN_df['Date']
AMZN_X_regression=AMZN_df.drop(["Open","Close/Last","SameDay_Binary","PreviousDay_Binary","SameDay_Percentage","PreviousDay_Percentage","year","Date"],axis =1 )

AMZN_Y_Binary_sameDay = AMZN_df["SameDay_Binary"]
AMZN_Y_Binary_previousDay = AMZN_df["PreviousDay_Binary"]
AMZN_Y_Percentage_sameDay = AMZN_df["SameDay_Percentage"]
AMZN_Y_Percentage_previousDay = AMZN_df["PreviousDay_Percentage"]

In [ ]:
#PCA

In [150]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(AMZN_X_regression)
scaler=StandardScaler()
scaler.fit(AMZN_X_regression)
scaled_data=scaler.transform(AMZN_X_regression)
scaled_data

array([[-1.72200985,  0.0141397 , -0.93650836, -1.15406566, -1.03465642,
        -1.53779293],
       [-1.70186938, -0.48836741, -0.76250172, -0.55870894, -0.91742262,
        -1.53779293],
       [-1.68172892,  0.95045042, -0.3651293 , -0.58571122, -0.80018882,
        -1.53779293],
       ...,
       [ 1.68172892, -0.89542172,  0.1077189 ,  0.2082429 ,  0.84108433,
         1.51648402],
       [ 1.70186938, -1.14301046,  0.1102181 ,  0.32452691,  0.95831813,
         1.51648402],
       [ 1.72200985, -0.11072669, -0.1369942 , -0.15302147,  1.07555193,
         1.51648402]])

In [151]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
pca.fit(scaled_data)
x_pca=pca.transform(scaled_data)
scaled_data

In [153]:
scaled_data.shape

(172, 6)

In [154]:
x_pca.shape

(172, 2)

In [155]:
AMZN_X_classification_sameDay_train, AMZN_X_classification_sameDay_test, AMZN_Y_Binary_sameDay_train, AMZN_Y_Binary_sameDay_test = train_test_split(AMZN_X_classification, AMZN_Y_Binary_sameDay, test_size=0.30, random_state=2)

In [156]:
AMZN_X_classification_previousDay_train, AMZN_X_classification_previousDay_test, AMZN_Y_Binary_previousDay_train,AMZN_Y_Binary_previousDay_test = train_test_split(AMZN_X_classification, AMZN_Y_Binary_previousDay, test_size=0.30, random_state=2)

In [157]:
#sameday regression

In [158]:
AMZN_X_regression_sameday_train, AMZN_X_regression_sameday_test, AMZN_Y_Percentage_sameDay_train, AMZN_Y_Percentage_sameDay_test = train_test_split(x_pca, AMZN_Y_Percentage_sameDay, test_size=0.30, random_state=2)

In [164]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(AMZN_X_regression_sameday_train,  AMZN_Y_Percentage_sameDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [165]:
y_pred= classifier.predict(AMZN_X_regression_sameday_test)  
y_pred

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1])

In [161]:
#sameday confusionmatrix and classification report

In [166]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(AMZN_Y_Percentage_sameDay_test,y_pred)  
cm

array([[30,  0,  0],
       [ 7,  0,  0],
       [15,  0,  0]])

In [167]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AMZN_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For Same day: \n",matrix)

Classification Report For Same day:
               precision    recall  f1-score   support

          -1       0.58      1.00      0.73        30
           0       0.00      0.00      0.00         7
           1       0.00      0.00      0.00        15

    accuracy                           0.58        52
   macro avg       0.19      0.33      0.24        52
weighted avg       0.33      0.58      0.42        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#previousday regression

In [168]:
AMZN_X_regression_previousday_train, AMZN_X_regression_previousday_test, AMZN_Y_Percentage_previousDay_train, AMZN_Y_Percentage_previousDay_test = train_test_split(x_pca, AMZN_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [169]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(AMZN_X_regression_previousday_train,  AMZN_Y_Percentage_previousDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [170]:
y_pred= classifier.predict(AMZN_X_regression_previousday_test)  
y_pred

array([-1,  1, -1, -1,  1, -1, -1,  1, -1, -1, -1, -1, -1, -1, -1,  1, -1,
       -1, -1,  1,  1, -1, -1, -1, -1,  1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1,  1,  1, -1,  1, -1, -1,  1, -1, -1, -1,  1,  1, -1, -1, -1, -1,
       -1])

In [171]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(AMZN_Y_Percentage_sameDay_test,y_pred)  
cm

array([[22,  0,  8],
       [ 6,  0,  1],
       [11,  0,  4]])

In [172]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AMZN_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For Same day: \n",matrix)

Classification Report For Same day:
               precision    recall  f1-score   support

          -1       0.56      0.73      0.64        30
           0       0.00      0.00      0.00         7
           1       0.31      0.27      0.29        15

    accuracy                           0.50        52
   macro avg       0.29      0.33      0.31        52
weighted avg       0.41      0.50      0.45        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# IBM

In [174]:
IBM_df=pd.read_csv('/content/IBM_modeling_data.csv')

In [176]:
IBM_df.head()

   Unnamed: 0        Date  ...  SameDay_Percentage  PreviousDay_Percentage
0           0  2021-04-07  ...                   1                      -1
1           1  2021-04-08  ...                   0                       1
2           2  2021-04-09  ...                   1                       1
3           3  2021-04-10  ...                   0                      -1
4           4  2021-04-11  ...                   0                       0

[5 rows x 11 columns]

In [177]:
IBM_df.shape

(172, 11)

In [ ]:
AMZN_df["day"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).day)
AMZN_df["month"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).month)
AMZN_df["year"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).year)

In [178]:
IBM_df.head()

   Unnamed: 0        Date  ...  SameDay_Percentage  PreviousDay_Percentage
0           0  2021-04-07  ...                   1                      -1
1           1  2021-04-08  ...                   0                       1
2           2  2021-04-09  ...                   1                       1
3           3  2021-04-10  ...                   0                      -1
4           4  2021-04-11  ...                   0                       0

[5 rows x 11 columns]

In [181]:
IBM_X_classification=IBM_df['Date']
IBM_X_regression=IBM_df.drop(["Open","Close/Last","SameDay_Binary","PreviousDay_Binary","SameDay_Percentage","PreviousDay_Percentage","Date"],axis =1 )

IBM_Y_Binary_sameDay = IBM_df["SameDay_Binary"]
IBM_Y_Binary_previousDay = IBM_df["PreviousDay_Binary"]
IBM_Y_Percentage_sameDay = IBM_df["SameDay_Percentage"]
IBM_Y_Percentage_previousDay = IBM_df["PreviousDay_Percentage"]

In [ ]:
#PCA

In [182]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(AMZN_X_regression)
scaler=StandardScaler()
scaler.fit(AMZN_X_regression)
scaled_data=scaler.transform(AMZN_X_regression)
scaled_data

array([[-1.72200985,  0.0141397 , -0.93650836, -1.15406566, -1.03465642,
        -1.53779293],
       [-1.70186938, -0.48836741, -0.76250172, -0.55870894, -0.91742262,
        -1.53779293],
       [-1.68172892,  0.95045042, -0.3651293 , -0.58571122, -0.80018882,
        -1.53779293],
       ...,
       [ 1.68172892, -0.89542172,  0.1077189 ,  0.2082429 ,  0.84108433,
         1.51648402],
       [ 1.70186938, -1.14301046,  0.1102181 ,  0.32452691,  0.95831813,
         1.51648402],
       [ 1.72200985, -0.11072669, -0.1369942 , -0.15302147,  1.07555193,
         1.51648402]])

In [184]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
pca.fit(scaled_data)
x_pca=pca.transform(scaled_data)
scaled_data

array([[-1.72200985,  0.0141397 , -0.93650836, -1.15406566, -1.03465642,
        -1.53779293],
       [-1.70186938, -0.48836741, -0.76250172, -0.55870894, -0.91742262,
        -1.53779293],
       [-1.68172892,  0.95045042, -0.3651293 , -0.58571122, -0.80018882,
        -1.53779293],
       ...,
       [ 1.68172892, -0.89542172,  0.1077189 ,  0.2082429 ,  0.84108433,
         1.51648402],
       [ 1.70186938, -1.14301046,  0.1102181 ,  0.32452691,  0.95831813,
         1.51648402],
       [ 1.72200985, -0.11072669, -0.1369942 , -0.15302147,  1.07555193,
         1.51648402]])

In [185]:
scaled_data.shape

(172, 6)

In [186]:
x_pca.shape

(172, 2)

In [189]:
IBM_X_classification_sameDay_train, IBM_X_classification_sameDay_test, IBM_Y_Binary_sameDay_train, IBM_Y_Binary_sameDay_test = train_test_split(IBM_X_classification,IBM_Y_Binary_sameDay, test_size=0.30, random_state=2)

In [188]:
IBM_X_classification_previousDay_train, IBM_X_classification_previousDay_test, IBM_Y_Binary_previousDay_train,IBM_Y_Binary_previousDay_test = train_test_split(IBM_X_classification, IBM_Y_Binary_previousDay, test_size=0.30, random_state=2)

In [187]:
#sameday regression

In [190]:
IBM_X_regression_sameday_train, IBM_X_regression_sameday_test, IBM_Y_Percentage_sameDay_train, IBM_Y_Percentage_sameDay_test = train_test_split(IBM_X_regression, IBM_Y_Percentage_sameDay, test_size=0.30, random_state=2)

In [191]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(IBM_X_regression_sameday_train,  IBM_Y_Percentage_sameDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [192]:
y_pred= classifier.predict(IBM_X_regression_sameday_test)  
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
#classification and confusion matrix of sameday

In [193]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(IBM_Y_Percentage_sameDay_test,y_pred)  
cm

array([[ 0, 11,  0],
       [ 0, 30,  0],
       [ 0, 11,  0]])

In [194]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AMZN_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For Same day: \n",matrix)

Classification Report For Same day:
               precision    recall  f1-score   support

          -1       0.00      0.00      0.00        30
           0       0.13      1.00      0.24         7
           1       0.00      0.00      0.00        15

    accuracy                           0.13        52
   macro avg       0.04      0.33      0.08        52
weighted avg       0.02      0.13      0.03        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [195]:
#previous day regression

In [196]:
IBM_X_regression_previousday_train, IBM_X_regression_previousday_test, IBM_Y_Percentage_previousDay_train, IBM_Y_Percentage_previousDay_test = train_test_split(IBM_X_regression, IBM_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [197]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(IBM_X_regression_previousday_train,  IBM_Y_Percentage_previousDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [221]:
y_pred= classifier.predict(IBM_X_regression_previousday_test)  
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [222]:
#confusion and Classificaon

In [223]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(IBM_Y_Percentage_previousDay_test,y_pred)  
cm

array([[ 0,  0, 11],
       [ 0,  0, 30],
       [ 0,  0, 11]])

In [224]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(AMZN_Y_Percentage_previousDay_test,y_pred)
print("Classification Report For previous day: \n",matrix)

Classification Report For previous day:
               precision    recall  f1-score   support

          -1       0.00      0.00      0.00        26
           0       0.00      0.00      0.00        13
           1       0.25      1.00      0.40        13

    accuracy                           0.25        52
   macro avg       0.08      0.33      0.13        52
weighted avg       0.06      0.25      0.10        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# MSFT

In [202]:
MSFT_df=pd.read_csv('/content/MSFT_modeling_data.csv')

In [204]:
MSFT_df.head()

   Unnamed: 0        Date  ...  SameDay_Percentage  PreviousDay_Percentage
0           0  2021-04-07  ...                   1                      -1
1           1  2021-04-08  ...                   0                       1
2           2  2021-04-09  ...                   1                       1
3           3  2021-04-10  ...                   0                       1
4           4  2021-04-11  ...                   0                       0

[5 rows x 11 columns]

In [212]:
MSFT_df.shape

(172, 11)

In [213]:
MSFT_df["day"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).day)
MSFT_df["month"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).month)
MSFT_df["year"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).year)

In [242]:
MSFT_df.head()

   Unnamed: 0        Date  Close/Last  ...  day  month  year
0           0  2021-04-07      249.90  ...    7      4  2021
1           1  2021-04-08      253.25  ...    8      4  2021
2           2  2021-04-09      255.85  ...    9      4  2021
3           3  2021-04-10      255.75  ...   10      4  2021
4           4  2021-04-11      255.75  ...   11      4  2021

[5 rows x 14 columns]

In [216]:
MSFT_X_classification=MSFT_df['Date']
MSFT_X_regression=MSFT_df.drop(["Open","Close/Last","SameDay_Binary","PreviousDay_Binary","SameDay_Percentage","PreviousDay_Percentage","Date"],axis =1 )
MSFT_Y_Binary_sameDay = MSFT_df["SameDay_Binary"]
MSFT_Y_Binary_previousDay = MSFT_df["PreviousDay_Binary"]
MSFT_Y_Percentage_sameDay = MSFT_df["SameDay_Percentage"]
MSFT_Y_Percentage_previousDay = MSFT_df["PreviousDay_Percentage"]

In [215]:
#PCA

In [217]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(MSFT_X_regression)
scaler=StandardScaler()
scaler.fit(MSFT_X_regression)
scaled_data=scaler.transform(MSFT_X_regression)
scaled_data

array([[-1.72200985, -0.24851519, -1.01709237, ..., -1.03465642,
        -1.53779293,  0.        ],
       [-1.70186938, -0.07382938, -0.84269421, ..., -0.91742262,
        -1.53779293,  0.        ],
       [-1.68172892,  0.0615475 , -0.7420987 , ..., -0.80018882,
        -1.53779293,  0.        ],
       ...,
       [ 1.68172892, -1.0425353 ,  1.69860601, ...,  0.84108433,
         1.51648402,  0.        ],
       [ 1.70186938, -1.73822615,  1.63882478, ...,  0.95831813,
         1.51648402,  0.        ],
       [ 1.72200985,  0.21261958, -0.61927544, ...,  1.07555193,
         1.51648402,  0.        ]])

In [218]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
pca.fit(scaled_data)
x_pca=pca.transform(scaled_data)
scaled_data

array([[-1.72200985, -0.24851519, -1.01709237, ..., -1.03465642,
        -1.53779293,  0.        ],
       [-1.70186938, -0.07382938, -0.84269421, ..., -0.91742262,
        -1.53779293,  0.        ],
       [-1.68172892,  0.0615475 , -0.7420987 , ..., -0.80018882,
        -1.53779293,  0.        ],
       ...,
       [ 1.68172892, -1.0425353 ,  1.69860601, ...,  0.84108433,
         1.51648402,  0.        ],
       [ 1.70186938, -1.73822615,  1.63882478, ...,  0.95831813,
         1.51648402,  0.        ],
       [ 1.72200985,  0.21261958, -0.61927544, ...,  1.07555193,
         1.51648402,  0.        ]])

In [219]:
scaled_data.shape

(172, 7)

In [220]:
x_pca.shape

(172, 2)

In [225]:
MSFT_X_classification_sameDay_train, MSFT_X_classification_sameDay_test, MSFT_Y_Binary_sameDay_train, MSFT_Y_Binary_sameDay_test = train_test_split(MSFT_X_classification, MSFT_Y_Binary_sameDay, test_size=0.30, random_state=2)

In [226]:
MSFT_X_classification_previousDay_train, MSFT_X_classification_previousDay_test, MSFT_Y_Binary_previousDay_train,MSFT_Y_Binary_previousDay_test = train_test_split(MSFT_X_classification, MSFT_Y_Binary_previousDay, test_size=0.30, random_state=2)

In [227]:
#sameday regression

In [228]:
MSFT_X_regression_sameday_train,MSFT_X_regression_sameday_test, MSFT_Y_Percentage_sameDay_train, MSFT_Y_Percentage_sameDay_test = train_test_split(MSFT_X_regression, MSFT_Y_Percentage_sameDay, test_size=0.30, random_state=2)

In [229]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(MSFT_X_regression_sameday_train,  MSFT_Y_Percentage_sameDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [230]:
y_pred= classifier.predict(MSFT_X_regression_sameday_test)  
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [231]:
#conclusion and classification report

In [232]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(MSFT_Y_Percentage_sameDay_test,y_pred)  
cm

array([[ 0,  8,  0],
       [ 0, 30,  0],
       [ 0, 14,  0]])

In [233]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(MSFT_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For same day: \n",matrix)

Classification Report For previous day:
               precision    recall  f1-score   support

          -1       0.00      0.00      0.00         8
           0       0.58      1.00      0.73        30
           1       0.00      0.00      0.00        14

    accuracy                           0.58        52
   macro avg       0.19      0.33      0.24        52
weighted avg       0.33      0.58      0.42        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [234]:
#previous day regression

In [235]:
MSFT_X_regression_previousday_train, MSFT_X_regression_previousday_test, MSFT_Y_Percentage_previousDay_train, MSFT_Y_Percentage_previousDay_test = train_test_split(MSFT_X_regression, MSFT_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [236]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(MSFT_X_regression_sameday_train,  MSFT_Y_Percentage_sameDay_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [237]:
y_pred= classifier.predict(MSFT_X_regression_sameday_test)  
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [238]:
#previous day accuracy and classification

In [239]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(MSFT_Y_Percentage_previousDay_test,y_pred)  
cm

array([[ 0, 18,  0],
       [ 0, 15,  0],
       [ 0, 19,  0]])

In [240]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(MSFT_Y_Percentage_previousDay_test,y_pred)
print("Classification Report For previous day: \n",matrix)

Classification Report For previous day:
               precision    recall  f1-score   support

          -1       0.00      0.00      0.00        18
           0       0.29      1.00      0.45        15
           1       0.00      0.00      0.00        19

    accuracy                           0.29        52
   macro avg       0.10      0.33      0.15        52
weighted avg       0.08      0.29      0.13        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# TSLA

In [241]:
TSLA_df=pd.read_csv('/content/TSLA_modeling_data.csv')

In [ ]:
TSLA_df.head()

In [244]:
TSLA_df.shape

(172, 11)

In [245]:
TSLA_df["day"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).day)
TSLA_df["month"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).month)
TSLA_df["year"] = AAPL_df['Date'].map(lambda x: pd.to_datetime(x).year)

In [246]:
TSLA_df.head()

   Unnamed: 0        Date  Close/Last  ...  day  month  year
0           0  2021-04-07     670.970  ...    7      4  2021
1           1  2021-04-08     683.800  ...    8      4  2021
2           2  2021-04-09     677.020  ...    9      4  2021
3           3  2021-04-10     717.105  ...   10      4  2021
4           4  2021-04-11     717.105  ...   11      4  2021

[5 rows x 14 columns]

In [247]:
TSLA_X_classification=TSLA_df['Date']
TSLA_X_regression=TSLA_df.drop(["Open","Close/Last","SameDay_Binary","PreviousDay_Binary","SameDay_Percentage","PreviousDay_Percentage","Date"],axis =1 )
TSLA_Y_Binary_sameDay = TSLA_df["SameDay_Binary"]
TSLA_Y_Binary_previousDay = TSLA_df["PreviousDay_Binary"]
TSLA_Y_Percentage_sameDay = TSLA_df["SameDay_Percentage"]
TSLA_Y_Percentage_previousDay =TSLA_df["PreviousDay_Percentage"]

In [248]:
#pca

In [249]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(MSFT_X_regression)
scaler=StandardScaler()
scaler.fit(MSFT_X_regression)
scaled_data=scaler.transform(MSFT_X_regression)
scaled_data

array([[-1.72200985, -0.24851519, -1.01709237, ..., -1.03465642,
        -1.53779293,  0.        ],
       [-1.70186938, -0.07382938, -0.84269421, ..., -0.91742262,
        -1.53779293,  0.        ],
       [-1.68172892,  0.0615475 , -0.7420987 , ..., -0.80018882,
        -1.53779293,  0.        ],
       ...,
       [ 1.68172892, -1.0425353 ,  1.69860601, ...,  0.84108433,
         1.51648402,  0.        ],
       [ 1.70186938, -1.73822615,  1.63882478, ...,  0.95831813,
         1.51648402,  0.        ],
       [ 1.72200985,  0.21261958, -0.61927544, ...,  1.07555193,
         1.51648402,  0.        ]])

In [250]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
pca.fit(scaled_data)
x_pca=pca.transform(scaled_data)
scaled_data

array([[-1.72200985, -0.24851519, -1.01709237, ..., -1.03465642,
        -1.53779293,  0.        ],
       [-1.70186938, -0.07382938, -0.84269421, ..., -0.91742262,
        -1.53779293,  0.        ],
       [-1.68172892,  0.0615475 , -0.7420987 , ..., -0.80018882,
        -1.53779293,  0.        ],
       ...,
       [ 1.68172892, -1.0425353 ,  1.69860601, ...,  0.84108433,
         1.51648402,  0.        ],
       [ 1.70186938, -1.73822615,  1.63882478, ...,  0.95831813,
         1.51648402,  0.        ],
       [ 1.72200985,  0.21261958, -0.61927544, ...,  1.07555193,
         1.51648402,  0.        ]])

In [251]:
scaled_data.shape

(172, 7)

In [252]:
x_pca.shape

(172, 2)

In [253]:
TSLA_X_classification_sameDay_train, TSLA_X_classification_sameDay_test, TSLA_Y_Binary_sameDay_train, TSLA_Y_Binary_sameDay_test = train_test_split(TSLA_X_classification, TSLA_Y_Binary_sameDay, test_size=0.30, random_state=2)

In [254]:
TSLA_X_classification_previousDay_train, TSLA_X_classification_previousDay_test, TSLA_Y_Binary_previousDay_train,TSLA_Y_Binary_previousDay_test = train_test_split(TSLA_X_classification, TSLA_Y_Binary_previousDay, test_size=0.30, random_state=2)

In [255]:
#same day regression

In [257]:
TSLA_X_regression_sameday_train, TSLA_X_regression_sameday_test, TSLA_Y_Percentage_sameDay_train, TSLA_Y_Percentage_sameDay_test = train_test_split(TSLA_X_regression, TSLA_Y_Percentage_sameDay, test_size=0.30, random_state=2)

In [259]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(TSLA_X_regression_sameday_train, TSLA_Y_Percentage_sameDay_train)
y_pred= classifier.predict(TSLA_X_regression_sameday_test)  
y_pred

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1])

In [260]:
#Classification and confusion report

In [261]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(TSLA_Y_Percentage_sameDay_test,y_pred)  
cm

array([[28,  0,  0],
       [ 9,  0,  0],
       [15,  0,  0]])

In [264]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(TSLA_Y_Percentage_sameDay_test,y_pred)
print("Classification Report For same day: \n",matrix)

Classification Report For same day:
               precision    recall  f1-score   support

          -1       0.54      1.00      0.70        28
           0       0.00      0.00      0.00         9
           1       0.00      0.00      0.00        15

    accuracy                           0.54        52
   macro avg       0.18      0.33      0.23        52
weighted avg       0.29      0.54      0.38        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [263]:
TSLA_X_regression_previousday_train, TSLA_X_regression_previousday_test, TSLA_Y_Percentage_previousDay_train, TSLA_Y_Percentage_previousDay_test = train_test_split(TSLA_X_regression, TSLA_Y_Percentage_previousDay, test_size=0.30, random_state=2)

In [265]:
#previous day regression

In [266]:
from sklearn.linear_model import LogisticRegression  
classifier= LogisticRegression(random_state=0)  
classifier.fit(TSLA_X_regression_sameday_train,  TSLA_Y_Percentage_sameDay_train)
y_pred= classifier.predict(TSLA_X_regression_sameday_test)  
y_pred

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1])

In [267]:
#Classification and confusion report

In [268]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(TSLA_Y_Percentage_previousDay_test,y_pred)  
cm

array([[18,  0,  0],
       [ 8,  0,  0],
       [26,  0,  0]])

In [269]:
from sklearn.metrics import classification_report
# Classification Report
matrix = classification_report(TSLA_Y_Percentage_previousDay_test,y_pred)
print("Classification Report For previous day: \n",matrix)

Classification Report For previous day:
               precision    recall  f1-score   support

          -1       0.35      1.00      0.51        18
           0       0.00      0.00      0.00         8
           1       0.00      0.00      0.00        26

    accuracy                           0.35        52
   macro avg       0.12      0.33      0.17        52
weighted avg       0.12      0.35      0.18        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))